section.brand._transition
  .brand__buble
  ._container._row
    h2._col-12.brand__caption(data-aos="zoom-in")
      | Бренд&nbsp;&mdash; это&nbsp;то, что приносит Вам деньги
    ._col-12.brand__title#brand-first(data-aos="fade-right" data-aos-delay="500")
      | С&nbsp;этой позиции мы&nbsp;реализуем наши проекты:
    .brand__container._col-12._p-n
      .swiper-container#brand-all(data-aos="fade-in" data-aos-anchor="#brand-first" data-aos-delay="1000")
        .swiper-wrapper
          .swiper-slide.swiper-slide-active.brand__item
            .brand__slider
              .swiper-container._js#brand1
                .swiper-wrapper
                  .swiper-slide.swiper-slide-active
                    .brand__logo.swiper-lazy(data-background=require('../../brands/1Wonder_Box/02.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/1Wonder_Box/07.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/1Wonder_Box/08.jpg'))
                      .swiper-lazy-preloader
              .swiper__btn-prev._brand#brand1-prev
              .swiper__btn-next._brand#brand1-next
            .brand__text-box
              .brand__name
                | Wonder Box
              .brand__text
                | Разработка концепции проекта: дизайн упаковки, печатных материалов и&nbsp;digital-носителей.
          .swiper-slide.swiper-slide-active.brand__item
            .brand__slider
              .swiper-container._js#brand2
                .swiper-wrapper
                  .swiper-slide.swiper-slide-active
                    .brand__logo.swiper-lazy(data-background=require('../../brands/2Alphatech/1.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/2Alphatech/2.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/2Alphatech/3.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/2Alphatech/4.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/2Alphatech/5.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/2Alphatech/6.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/2Alphatech/7.jpg'))
                      .swiper-lazy-preloader
              .swiper__btn-prev._brand#brand2-prev
              .swiper__btn-next._brand#brand2-next
            .brand__text-box
              .brand__name
                | Alphatech
              .brand__text
                | Разработка позиционирования компании, логотипа, создание фирменного стиля и&nbsp;брендбука для использования во&nbsp;всех каналах коммуникации.
          .swiper-slide.brand__item
            .brand__slider
              .swiper-container._js#brand3
                .swiper-wrapper
                  .swiper-slide.swiper-slide-active
                    .brand__logo.swiper-lazy(data-background=require('../../brands/3Яблоко/1.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/3Яблоко/2.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/3Яблоко/3.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/3Яблоко/4.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/3Яблоко/5.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/3Яблоко/6.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/3Яблоко/7.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/3Яблоко/8.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/3Яблоко/9.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/3Яблоко/10.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/3Яблоко/11.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/3Яблоко/12.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/3Яблоко/13.jpg'))
                      .swiper-lazy-preloader
              .swiper__btn-prev._brand#brand3-prev
              .swiper__btn-next._brand#brand3-next
            .brand__text-box
              .brand__name
                | Яблоко
              .brand__text
                | Разработка позиционирования, логотипа и&nbsp;фирменного стиля компании.
          .swiper-slide.brand__item
            .brand__slider
              .swiper-container._js#brand4
                .swiper-wrapper
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/4Unit_Pro/3.jpg'))
                      .swiper-lazy-preloader
              .swiper__btn-prev._brand#brand4-prev
              .swiper__btn-next._brand#brand4-next
            .brand__text-box
              .brand__name
                | UnitPro
              .brand__text
                | Создание концепции бренда, позиционирование, упаковка. Разработка рекламных материалов.
          .swiper-slide.brand__item
            .brand__slider
              .swiper-container._js#brand5
                .swiper-wrapper
                  .swiper-slide.swiper-slide-active
                    .brand__logo.swiper-lazy(data-background=require('../../brands/5Riza/1.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/5Riza/2.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/5Riza/3.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/5Riza/4.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/5Riza/5.jpg'))
                      .swiper-lazy-preloader
              .swiper__btn-prev._brand#brand5-prev
              .swiper__btn-next._brand#brand5-next
            .brand__text-box
              .brand__name
                | Riza
              .brand__text
                | Ребрендинг. Разработка позиционирования и&nbsp;новой упаковки. Стратегия продвижения. Разработка рекламных материалов.
          .swiper-slide.brand__item
            .brand__slider
              .swiper-container._js#brand6
                .swiper-wrapper
                  .swiper-slide.swiper-slide-active
                    .brand__logo.swiper-lazy(data-background=require('../../brands/6Skincare/1.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/6Skincare/2.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/6Skincare/3.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/6Skincare/4.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/6Skincare/5.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/6Skincare/6.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/6Skincare/7.jpg'))
                      .swiper-lazy-preloader
              .swiper__btn-prev._brand#brand6-prev
              .swiper__btn-next._brand#brand6-next
            .brand__text-box
              .brand__name
                | Skincare
              .brand__text
                | Разработка позиционирования и&nbsp;нового фирменного стиля для компании. Маркетинговая стратегия. Разработка креативных концепций и&nbsp;рекламных материалов.
          .swiper-slide.brand__item
            .brand__slider
              .swiper-container._js#brand7
                .swiper-wrapper
                  .swiper-slide.swiper-slide-active
                    .brand__logo.swiper-lazy(data-background=require('../../brands/7Skinity/1.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/7Skinity/3.jpg'))
                      .swiper-lazy-preloader
              .swiper__btn-prev._brand#brand7-prev
              .swiper__btn-next._brand#brand7-next
            .brand__text-box
              .brand__name
                | Skinity
              .brand__text
                | Создание бренда. Разработка концепции, платформы бренда, позиционирование, упаковка, фирменный стиль. Стратегия вывода на&nbsp;рынок и&nbsp;коммуникационная стратегия.
          .swiper-slide.brand__item
            .brand__slider
              .swiper-container._js#brand8
                .swiper-wrapper
                  .swiper-slide.swiper-slide-active
                    .brand__logo.swiper-lazy(data-background=require('../../brands/8Office_Bloom/1.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/8Office_Bloom/2.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/8Office_Bloom/3.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/8Office_Bloom/4.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/8Office_Bloom/5.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/8Office_Bloom/6.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/8Office_Bloom/8.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/8Office_Bloom/9.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/8Office_Bloom/10.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/8Office_Bloom/11.png'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/8Office_Bloom/12.jpg'))
                      .swiper-lazy-preloader
              .swiper__btn-prev._brand#brand8-prev
              .swiper__btn-next._brand#brand8-next
            .brand__text-box
              .brand__name
                | Office Bloom
              .brand__text
                | Создание бренда. Разработка концепции, платформы бренда, позиционирование, упаковка, фирменный стиль. Стратегия вывода на&nbsp;рынок и&nbsp;коммуникационная стратегия.
          .swiper-slide.brand__item
            .brand__slider
              .swiper-container._js#brand9
                .swiper-wrapper
                  .swiper-slide.swiper-slide-active
                    .brand__logo.swiper-lazy(data-background=require('../../brands/9Progreen/1.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/9Progreen/2.jpg'))
                      .swiper-lazy-preloader
                  .swiper-slide
                    .brand__logo.swiper-lazy(data-background=require('../../brands/9Progreen/3.jpg'))
                      .swiper-lazy-preloader
              .swiper__btn-prev._brand#brand9-prev
              .swiper__btn-next._brand#brand9-next
            .brand__text-box
              .brand__name
                | Progreen
              .brand__text
                | Разработка концепции, позиционирование, создание рекламных материалов.
        .swiper__pagination-bullets#brand-pagination
      .swiper__btn-prev.brand__btn#brand-prev
      .swiper__btn-next.brand__btn#brand-next