.clients._transition
  .clients__buble
  ._container._row
    ._col-12.clients__title
      | Более
      |
      span._c.clients__big 30&nbsp;компаний
      |
      | стали
      |
      span._c.clients__big зарабатывать больше
      | ,
      br
      | воспользовавшись нашими решениям
    ._col-12.clients__slider
      .swiper-container#clients
        .swiper-wrapper
          .swiper-slide.swiper-slide-active._clients
            .swiper__item.clients__img(style=`background-image: url(${require('../../logo/1.png')});`)
          .swiper-slide.swiper-slide-active._clients
            .swiper__item.clients__img(style=`background-image: url(${require('../../logo/2.png')});`)
          .swiper-slide.swiper-slide-active._clients
            .swiper__item.clients__img(style=`background-image: url(${require('../../logo/3.png')});`)
          .swiper-slide.swiper-slide-active._clients
            .swiper__item.clients__img(style=`background-image: url(${require('../../logo/4.png')});`)
          .swiper-slide.swiper-slide-active._clients
            .swiper__item.clients__img(style=`background-image: url(${require('../../logo/5.png')});`)
          .swiper-slide.swiper-slide-active._clients
            .swiper__item.clients__img(style=`background-image: url(${require('../../logo/6.png')});`)
          .swiper-slide.swiper-slide-active._clients
            .swiper__item.clients__img(style=`background-image: url(${require('../../logo/7.png')});`)
          .swiper-slide.swiper-slide-active._clients
            .swiper__item.clients__img(style=`background-image: url(${require('../../logo/8.png')});`)
          .swiper-slide.swiper-slide-active._clients
            .swiper__item.clients__img(style=`background-image: url(${require('../../logo/9.png')});`)
          .swiper-slide.swiper-slide-active._clients
            .swiper__item.clients__img(style=`background-image: url(${require('../../logo/10.png')});`)
          .swiper-slide.swiper-slide-active._clients
            .swiper__item.clients__img(style=`background-image: url(${require('../../logo/11.png')});`)
          .swiper-slide.swiper-slide-active._clients
            .swiper__item.clients__img(style=`background-image: url(${require('../../logo/12.png')});`)
          .swiper-slide.swiper-slide-active._clients
            .swiper__item.clients__img(style=`background-image: url(${require('../../logo/13.png')});`)

      .swiper__btn-prev#clients-prev
      .swiper__btn-next#clients-next